#calculator {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#enter {
    height: 25px;
}

.buttons {
    padding: 0 25%;
    margin-left: auto;
    margin-right: auto;
}

.field {
    height: 200px;
}


/*.row {
    width: 50%;
    margin-left: auto;
    display: inline-block;
}*/

#nums {
    padding: 0 50px;
}

.number {
    width: 100px;
    height: 75px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    justify-content: space-between;
    text-align: center;
}

.operators {
    padding: 0 50px;
}

.row {
    width: 50%;
    text-align: center;
}

#equals {
    float: right;
}

button {
    display: inline-block;
    background: #343cd9;
    background-image: -webkit-linear-gradient(top, #343cd9, #3052b8);
    background-image: -moz-linear-gradient(top, #343cd9, #3052b8);
    background-image: -ms-linear-gradient(top, #343cd9, #3052b8);
    background-image: -o-linear-gradient(top, #343cd9, #3052b8);
    background-image: linear-gradient(to bottom, #343cd9, #3052b8);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

button:hover {
    display: inline-block;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
